.soundname {
	text-overflow: word-wrap;
	width: 150px;
	text-align: center;
}

.sound {
	width    : 150px;
	margin   : 5px 15px;
	/* height: 150px; */
}

.soundimg {
	height: 150px;
	position: relative;
	text-align: center;
}

.playpause {
	border    : 0;
	background: transparent;
	box-sizing: border-box;
	width     : 0;
	height    : 74px;

	border-color: transparent transparent transparent #6e6e6eab;
	transition  : 100ms all ease;
	cursor      : pointer;

	/* play state */
	border-style: solid;
	
	position: absolute;
	bottom: 0;
	margin: 38px;
	visibility: hidden;
}


.sound.playing>.playpause {
	visibility: visible;
	border-width: 37px;
}

.sound_progress {
	visibility: hidden;
}

.sound.playing>.sound_progress {
	visibility: visible;
}

.playpause:hover {
	visibility: visible;
	border-color: transparent transparent transparent #72727283;
	border-width: 37px 0 37px 60px;
}

.sound_img {
	width : 150px;
	height: 150px;
	margin-top: 10px;
	/* margin-bottom: 10px; */
	-webkit-filter: drop-shadow(2px 2px 2px white)
					  drop-shadow(-2px -2px 2px white)
					  drop-shadow(-2px 2px 2px white)
					  drop-shadow(2px -2px 2px white);
	filter: drop-shadow(2px 2px 2px white) 
			  drop-shadow(-2px -2px 2px white)
			  drop-shadow(2px -2px 2px white)
			  drop-shadow(-2px 2px 2px white);
}

.hidden {
	display: none;
}

/* Responsive */
@media (max-width: 1366px) {
	.sound {
		width    : 90px;
		margin   : 30px 15px;
		height: 90px;
	}
	.soundimg{
		height: 75px;
	}
	.sound_img {
		width : 75px;
		height: 75px;
	}
	.soundname {
		width: 75px;
	}
	.sound_progress {
		text-align: center;
		width: 90px;
	}
}
