{% import "sound.html" as sounds %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MLWS</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/sound.css">
</head>
<body>
	<table id="sounds">
		<tr>
			{% for sound in sounds %}
			<td>{{sounds::sound_element(s=sound)}}</td>
				{% if loop.index % 10 == 0 and not loop.last %}
					</tr>
					<tr>
				{% endif %}
			{% endfor %}
		</tr>
	</table>
</body>
</html>