<tr id="KEYBIND{{keybind[2]}}" number="{{keybind[2]}}">
	<td>
		<select id="key_repo" onchange="reload_sounds('KEYBIND{{keybind[2]}}'); set_keybind(parseInt('{{keybind[2]}}'))">
			{% for repo in repos %}
				<option value="{{repo}}" {% if repo == keybind[0][0] %} selected {% endif %} >{{repo}}</option>
			{% endfor %}
		</select>
		<select id="key_sound" onchange="set_keybind(parseInt('{{keybind[2]}}'))">
			{% for sound in sounds %}
				<option value="{{sound}}" {% if sound == keybind[0][1] %} selected {% endif %} >{{sound}}</option>
			{% endfor %}
		</select>
	</td>
	<td>
		{{keybind[1]}}
	</td>

	<td>
		<button id="RemoveButton" onclick="send('RemoveKeybind', parseInt('{{keybind[2]}}'))">
			Remove
		</button>
	<button id="SetButton" onclick="
		if (this.innerText === 'Set') {
			if (setting) {
				console.error('Can\'t detect multiple keybinds')
			} else {
				setting = 'KEYBIND{{keybind[2]}}';
				setting_interval = setInterval(() => {
					send('HasDetected', [])
				}, 1000)
				this.innerText='Done';
				send('Detect', parseInt('{{keybind[2]}}'))
			}
		}else{
			if (setting) {
				setting = undefined;
				clearInterval(setting_interval);
				setting_interval = undefined;
				this.innerText='Set';
				send('StopDetect', [])
			}
		}
		">
			Set
		</button>
		<span class="setting_keybind"></span>
	</td>
</tr>