<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Settings</title>
		<link rel="stylesheet" href="/css/settings.css">
		
	</head>

	<body>
		<script>
			var setting = undefined;
			var setting_interval = undefined;
		</script>
		<label for="input_device">Input device</label><input type="text" id="input_device">
		<label for="output_device">Output device</label><input type="text" id="output_device">
		<table>
			{% for name,keys in config["hotkeys"] %}
			<tr>{{name}}{{keys}}</tr>
			{% endfor %}
		</table>
		<br>
		<button onclick="reload_repos()">Reload</button>
		<table id="REPOS">
		</table>

		KEYBINDS <button onclick="ws.send(JSON.stringify({AddKeyBind: []}))">RELOAD</button>
		<table id="KEYBINDS">

		</table>
		<table>
			<tr id="KEYBIND_NEW">
				<td>
					<select id="key_repo" onchange="reload_sounds('KEYBIND_NEW')">
						{% for repo in repos %}
						<option value="{{repo[1].name}}">{{repo[1].name}}</option>
						{% endfor %}
					</select>
					<select id="key_sound">

					</select>
				</td>
				<td>
					<button onclick="add_key()">Add</button>
				</td>
			</tr>
		</table>
		<script>

			var ws = new WebSocket(`ws://${window.location.host}/ws`)

			function update_repo(i) {
				console.log(JSON.parse(`{"UpdateRepo": ${i}}`))
				ws.send(`{"UpdateRepo": ${i}}`)
			}

			function reload() {
				reload_repos()
				reload_keys()
				reload_sounds('KEYBIND_NEW')
			}

			function reload_repos() {
				ws.send('{"RepoNum": []}')
			}

			function reload_keys() {
				ws.send('{"KeybindNum": []}')
			}

			function add_key() {
				let repo = document.getElementById('KEYBIND_NEW').children[0].children[0].value;
				let sound = document.getElementById('KEYBIND_NEW').children[0].children[1].value;

				ws.send(`{"AddKeybind": ["${repo}", "${sound}"]}`)
			}

			function send(name, val) {
				let x = {}
				x[name] = val
				ws.send(JSON.stringify(x))
			}

			function load_repo(i) {
				fetch(`/repo/${i}`).then(response => response.text()).then(html => {
					let repo = document.getElementById(`REPO${i}`)
					if (repo) {
						repo.outerHTML = html
					} else {
						document.getElementById('REPOS').innerHTML += (html)
					}
				})
			}

			function load_keybind(i) {
				fetch(`/keybind/${i}`).then(response => response.text()).then(html => {
					let repo = document.getElementById(`KEYBIND${i}`)
					if (repo) {
						repo.outerHTML = html
					} else {
						document.getElementById('KEYBINDS').innerHTML += (html)
					}

				})
			}
			function reload_sounds(i) {

				let v = document.getElementById(i).children[0].children[0].value;
				ws.send(`{"Sounds": ["${v}", "${i}"]}`)
				// console.log('Loading keybind opts for', v);
			}


			ws.onopen = reload

			ws.onmessage = x => {
				let data = JSON.parse(x.data)
				console.log(data)
				if (data.RepoStatus) {
					repoStatus(data.RepoStatus)

				} else if (data.Downloading) {
					let inner
					if (data.Downloading[2]) {
						let percent = data.Downloading[1]
						let p = document.createElement('progress')
						p.value = percent
						p.max = 100
						inner = [p]
					} else {
						let b = data.Downloading[1]
						inner = [
							document.createTextNode(bytes(b)),
						]
					}
					document.getElementById(`REPO${data.Downloading[0]}`).children[2].innerHTML = ""
					document.getElementById(`REPO${data.Downloading[0]}`).children[2].append(...inner)
				} else if (data.Installing) {
					let inner = [document.createTextNode("Installing")]

					document.getElementById(`REPO${data.Installing[0]}`).children[2].innerHTML = ""
					document.getElementById(`REPO${data.Installing[0]}`).children[2].append(...inner)
				} else if (data.Done) {
					let inner = [document.createTextNode("Done")]

					document.getElementById(`REPO${data.Done[0]}`).children[2].innerHTML = ""
					document.getElementById(`REPO${data.Done[0]}`).children[2].append(...inner)
				} else if (data.RepoNum) {
					document.getElementById('REPOS').innerHTML += ''
					for (let i = 0; i < data.RepoNum; i++) {
						load_repo(i)
					}
				} else if (data.KeybindNum) {
					document.getElementById('KEYBINDS').innerHTML = ''
					for (let i of data.KeybindNum) {
						load_keybind(i)
					}
				} else if (data.HasDetected) {
					console.log(document.getElementById(setting).getElementsByClassName('setting_keybind'))
					if (setting) document.getElementById(setting).getElementsByClassName('setting_keybind')[0].innerText = data.HasDetected
				} else if (data.Sounds) {
					let i = data.Sounds[0];
					let sounds = data.Sounds[1];
					let s = document.getElementById(i).children[0].children[1]
					s.innerHTML = '';
					for (let sound of sounds) {
						let o = document.createElement('option');
						o.value = sound
						o.innerText = sound
						s.add(o)
					}
				}
			}

			function repoStatus(data) {
				let inner
				if (data[1].Latest) {
					inner = [document.createTextNode('LATEST')]
				} else {
					let upto = data[1].Updatable[1]
					let code = document.createElement('code')
					let update = document.createElement('button')
					update.append('Update')
					update.onclick = () => {
						ws.send(`{"UpdateRepo": ${data[0]}}`)
					}
					code.append(upto.trim())
					inner = [
						document.createTextNode('UPDATABLE TO VERSION '),
						code,
						update
					]
				}
				document.getElementById(`REPO${data[0]}`).innerHTML = ""
				document.getElementById(`REPO${data[0]}`).append(...inner)
			}

			function bytes(b) {
				if (b <= 100) {
					return `${b} B`
				} else if (b <= 100000) {
					return `${Math.round(b / 100) / 10} kB`
				} else if (b <= 100000000) {
					return `${Math.round(b / 100000) / 10} MB`
				} else if (b <= 100000000000) {
					return `${Math.round(b / 100000000) / 10} GB`
				}
			}

			
		</script>
	</body>

</html>